body {
    margin: 0;
    /* font-family: 'Rubik Burned', system-ui; */
    font-family: 'Rubik Broken Fax', system-ui;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

/*Интро*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    text-align: center;

    width: 100%;
    height: 100vh;

    background: url("../gvalt/assets/images/danyadesktop.jpg") center 
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}